.margin-mine{
    margin-right: 8px;
}

.success-mine{
    color:green;
}

.danger-mine{
    color:red;
}

input:read-only{
    border: none;
    border-color: transparent;
}

input:moz-read-only{
    background-color: green;
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px;
    color: white;
    text-align: center;
}

.rounded-circle-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profile-img{
    border-radius: 25%;
    width: 150px;
    height: 150px;
    vertical-align: middle;
}
